# build outputs
.cargo-ok
artifacts/
target/
schemas/

# ide
.idea/
.nova/
*.iml

# config
.env
*.env
!examples/**/*.env
!tests/**/*.env
!examples/*/.env
!tests/.env
!tests/*/.env

# platform
.DS_Store
